<div class="workout-plan">
  <h2>My Intense Workout Plan</h2>
  <div class="workout">
    <div class="workout-header">
      <h3>Monday</h3>
      <div class="workout-timing">60 minutes</div>
    </div>
    <div class="workout-exercises">
      <div class="workout-exercise">
        <div class="workout-exercise-name">Cardio:</div>
        <div class="workout-exercise-details">20 minutes on the elliptical, 20 minutes on the treadmill, 20 minutes on the stationary bike</div>
      </div>
      <div class="workout-exercise">
        <div class="workout-exercise-name">Strength training:</div>
        <div class="workout-exercise-details">4 sets of 12 reps of bench press, squats, bicep curls, shoulder press, lunges, and tricep extensions</div>
      </div>
    </div>
  </div>
  <div class="workout">
    <div class="workout-header">
      <h3>Wednesday</h3>
      <div class="workout-timing">60 minutes</div>
    </div>
    <div class="workout-exercises">
      <div class="workout-exercise">
        <div class="workout-exercise-name">Cardio:</div>
        <div class="workout-exercise-details">20 minutes on the elliptical, 20 minutes on the treadmill, 20 minutes on the stationary bike</div>
      </div>
      <div class="workout-exercise">
        <div class="workout-exercise-name">Strength training:</div>
        <div class="workout-exercise-details">4 sets of 12 reps of lat pulldowns, leg curls, calf raises, bench press, squats, and bicep curls</div>
      </div>
    </div>
  </div>
  <div class="workout">
    <div class="workout-header">
      <h3>Friday</h3>
      <div class="workout-timing">60 minutes</div>
    </div>
    <div class="workout-exercises">
      <div class="workout-exercise">
        <div class="workout-exercise-name">Cardio:</div>
        <div class="workout-exercise-details">20 minutes on the elliptical, 20 minutes on the treadmill, 20 minutes on the stationary bike</div>
      </div>
      <div class="workout-exercise">
        <div class="workout-exercise-name">Strength training:</div>
        <div class="workout-exercise-details">4 sets of 12 reps of lat pulldowns, leg curls, calf raises, bench press, squats, and bicep curls</div>
      </div>
    </div>
  </div>
</div>
<footer>
     <div class="pagesselect">
 <div class="btn-group me-2 mx-auto" role="group" aria-label="First group">
    <a type="button" class="btn btn-outline-secondary" href="/workouts">1</a>
    <a type="button" class="btn btn-outline-dark" href="/intenseworkout">2</a>
    <a type="button" class="btn btn-outline-secondary" href="/sixdayplan">3</a>
    <a type="button" class="btn btn-outline-secondary" id="restbtn" href="/profile">4</a>
  </div></div>
</footer>