

<div class="workout-plan">
  <h2>My Workout Plan</h2>
  <div>
    <div>
      <div class="workout">
        <h3>Monday</h3>
        <p>Cardio: 30 minutes on the elliptical</p>
        <p>Strength training: 3 sets of 10 reps of bench press, squats, and bicep curls</p>
      </div>
    </div>
    <div>
      <div class="workout">
        <h3>Wednesday</h3>
        <p>Cardio: 30 minutes on the stationary bike</p>
        <p>Strength training: 3 sets of 10 reps of shoulder press, lunges, and tricep extensions</p>
      </div>
    </div>
    <div>
      <div class="workout">
        <h3>Friday</h3>
        <p>Cardio: 30 minutes on the treadmill</p>
        <p>Strength training: 3 sets of 10 reps of lat pulldowns, leg curls, and calf raises</p>
      </div>
    </div>
  </div>
</div>
<footer>
   <div class="pagesselect">
 <div class="btn-group me-2 mx-auto" role="group" aria-label="First group">
    <a type="button" class="btn btn-outline-dark" href="/workouts">1</a>
    <a type="button" class="btn btn-outline-secondary" href="/intenseworkout">2</a>
    <a type="button" class="btn btn-outline-secondary" href="/sixdayplan">3</a>
    <a type="button" class="btn btn-outline-secondary" id="restbtn" href="/profile">4</a>
  </div></div>
</footer>
  <script src="/js/workout.js"></script>
